<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script th:inline="javascript">
        let migraine = [[${migraine}]];
    </script>
    <script th:inline="javascript" th:src="@{/js/homeScript.js}"></script>
    <div th:replace="fragments :: head"></div>
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <p th:text="'Welcome, ' + ${user.firstName}" id="greeting">Welcome</p><br>

    <div id="dateDiv">
        <a th:href="@{/home/{date}(date = ${backwardDate})}" class="arrow"><span class="fa fa-arrow-left" id="Larrow"></span></a>
        <p th:text="${date}" id="date"></p>
        <a th:href="@{/home/{date}(date = ${forwardDate})}" class="arrow"><span class="fa fa-arrow-right" id="Rarrow"></span></a>
    </div>

    <form method="post" th:action="@{/home/{date}/saveTriggers(date=${date})}" class="leftDiv" id="addTriggerForm">
        <ul class="list-group">
            <li id="hiddenList" class="list-group-item" th:each="trigger : ${triggerList}">
                <input class="checkbox" type="checkbox" th:id="${trigger.getName()}" th:name="resultList"
                       th:value="${trigger.getName()}" th:checked="${savedTriggers.contains(trigger)}"/>
                <label class="list-group-item" th:for="${trigger.getName()}" th:text="${trigger.getName()}"></label>
            </li>
        </ul>
        <div class="rightDiv"><input type="submit" class="btn btn-primary" value="Save Triggers" /></div>
    </form>

    <div id="centerDiv">
        <form class="migraineButton" method="post" th:action="@{/home/{date}(date=${date})}">
            <input hidden="hidden" th:name="migraine" th:value="${migraine}"/>
            <input type="submit" id="startMigraineButton" class="btn btn-info" value="Start Migraine">
        </form>
        <form class="migraineButton" method="post" th:action="@{/home/{date}(date=${date})}">
            <input hidden="hidden" th:name="migraine" th:value="${migraine}"/>
            <input disabled="true" type="submit" id="endMigraineButton" class="btn btn-info" value="End Migraine">
        </form>
        <form class="migraineButton" method="post" th:action="@{/home/{date}/cancel(date=${date})}">
            <input hidden="hidden" th:name="migraine" th:value="${migraine}"/>
            <input disabled="true" type="submit" id="cancelMigraineButton" class="btn btn-info" value="Cancel Migraine">
        </form>

        <div class="countup" id="countup1">
            <span class="timeel days">00</span>
            <span class="timeel timeRefDays">days</span>
            <span class="timeel hours">00</span>
            <span class="timeel timeRefHours">hours</span><br>
            <span class="timeel minutes">00</span>
            <span class="timeel timeRefMinutes">minutes</span>
            <span class="timeel seconds">00</span>
            <span class="timeel timeRefSeconds">seconds</span>
        </div>
        <div id="weather" class="container">
            <div th:if="${message}" th:text="${message}">
            </div>
            <div th:unless="${message}">
                <h3 th:text="${'Weather for ' + weatherDTO.city + ', ' + weatherDTO.state}"></h3>
                <div class="row" style="display: inline-flex;">
                    <img th:src="${weatherDTO.icon}"/>
                    <h5 th:text="${weatherDTO.temperature + 'F ' + weatherDTO.wind + 'mph wind'}"></h5>
                </div>
                <div class="row" style="display: inline-flex;">
                    <h5 th:text="${'Humidity: ' + weatherDTO.humidity + '% Pressure: ' + weatherDTO.pressure}"></h5>
                </div><br>
                Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
            </div>
        </div>
    </div>

    <form method="post" th:action="@{/home/{date}/saveSymptoms(date=${date})}" class="rightDiv" id="addSymptomForm">
        <ul class="list-group">
            <li id="hiddenList2" class="list-group-item" th:each="symptom : ${symptomList}">
                <input class="checkbox" type="checkbox" th:id="${symptom.getName()}" th:name="resultList"
                       th:value="${symptom.getName()}" th:checked="${savedSymptoms.contains(symptom)}"/>
                <label class="list-group-item" th:for="${symptom.getName()}" th:text="${symptom.getName()}"></label>
            </li>
        </ul>
        <div class="rightDiv"><input type="submit" class="btn btn-primary" value="Save Symptoms" /></div>
    </form>

</body>
</html>