<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script th:inline="javascript">
        let migraine = [[${migraine}]];
    </script>
    <script th:inline="javascript" th:src="@{/js/script.js}"></script>
    <div th:replace="fragments :: head"></div>
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <p th:text="'Welcome, ' + ${user.firstName}" id="greeting">Welcome</p><br>

    <div id="dateDiv">
        <a th:href="@{/home/{date}(date = ${backwardDate})}" class="arrow"><span class="fa fa-arrow-left" id="Larrow"></span></a>
        <p th:text="${date}" id="date"></p>
        <a th:href="@{/home/{date}(date = ${forwardDate})}" class="arrow"><span class="fa fa-arrow-right" id="Rarrow"></span></a>
    </div>

    <form method="post" th:action="@{/home/{date}/saveTriggers(date=${date})}" class="leftDiv" id="addTriggerForm">
        <ul class="list-group">
            <li id="hiddenList" class="list-group-item" th:each="trigger : ${triggerList}">
                <input class="checkbox" type="checkbox" th:id="${trigger.getName()}" th:name="resultList"
                       th:value="${trigger.getName()}" th:checked="${savedTriggers.contains(trigger)}"/>
                <label class="list-group-item" th:for="${trigger.getName()}" th:text="${trigger.getName()}"></label>
            </li>
        </ul>
        <div class="rightDiv"><input type="submit" class="btn btn-primary" value="Save Triggers" /></div>
    </form>

    <button id="migraineButton" class="btn btn-info">Start Recording Migraine</button>

    <form method="post" th:action="@{/home/{date}/saveSymptoms(date=${date})}" class="rightDiv" id="addSymptomForm">
        <ul class="list-group">
            <li id="hiddenList2" class="list-group-item" th:each="symptom : ${symptomList}">
                <input class="checkbox" type="checkbox" th:id="${symptom.getName()}" th:name="resultList"
                       th:value="${symptom.getName()}" th:checked="${savedSymptoms.contains(symptom)}"/>
                <label class="list-group-item" th:for="${symptom.getName()}" th:text="${symptom.getName()}"></label>
            </li>
        </ul>
        <div class="rightDiv"><input type="submit" class="btn btn-primary" value="Save Symptoms" /></div>
    </form>

</body>
</html>