<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <script th:inline="javascript">
        var triggerLabels = [[${triggerLabels}]];
        var triggerData = [[${triggerData}]];

        var symptomLabels = [[${symptomLabels}]];
        var symptomData = [[${symptomData}]];

        var migraineDaysPerMonth = [[${migraineDaysPerMonth}]];
        var migraineLabels = [[${migraineLabels}]];
        var migraineFrequency = [[${migraineFrequency}]];
    </script>
    <script th:src="@{/js/statsScript.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm">
            <canvas id="triggerChart" height="200px" width="230px"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="symptomChart" height="200px" width="230px"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="migraineChart" height="200px" width="230px"></canvas>
        </div>
    </div>
</div>


</body>
</html>