<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<!--TODO add form-row and form-column classes to align buttons to the side -->
<form method="post" action="?deleteSymptom">
    <ul class="list-group">
        <!--    <li class="list-group-item"  th:each="symptom : ${symptomList}" th:text="${symptom.getName()}"></li>-->
        <li><a href="#" class="list-group-item list-group-item-action" th:each="symptom : ${symptomList}" th:field="${symptom.name}" th:text="${symptom.name}"></a></li>
    </ul>
<!--    <p class="error" th:errors="${delete}"></p>-->
<!--    TODO add confirmation popup to confirm user really wants to delete selected item(s)-->
    <input type="submit" class="btn btn-primary" value="Delete Selected" />
</form>
<p th:text="${selected}">test</p>

<div class="login-block">
    <form method="post" action="?addSymptom">
        <div class="form-group">
            <label class="login-label">Add Symptom
                <input class="form-control" th:field="${symptom.name}"/>
            </label>
            <p class="error" th:errors="${symptom.name}"></p>
        </div>
        <input type="submit" class="btn btn-primary" value="Update" />
    </form>
</div>

</body>
</html>