<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<!--TODO add form-row and form-column classes to align buttons to the side -->
<form method="post" action="?deleteSymptom" class="leftDiv" id="deleteForm">
    <ul class="list-group">
        <li id="hiddenList" class="list-group-item" th:each="symptom : ${symptomList}">
            <input class="checkbox" type="checkbox" th:id="${symptom.getName()}" th:name="resultList" th:value="${symptom.getName()}"/>
            <label class="list-group-item" th:for="${symptom.getName()}" th:text="${symptom.getName()}"></label>
        </li>
    </ul>
    <!--    TODO add confirmation popup to confirm user really wants to delete selected item(s)-->
    <div class="rightDiv"><input type="submit" class="btn btn-primary" value="Delete Selected" onclick="return confirm('Permanently delete these items?');" /></div>
</form>
<div class="rightDiv" style="width: 50%;">
<div class="login-block">
    <form method="post" action="?addSymptom">
        <div class="form-group">
            <label class="login-label">Add Symptom
                <input class="form-control" th:field="${symptom.name}"/>
            </label>
            <p class="error" th:errors="${symptom.name}"></p>
        </div>
        <input type="submit" class="btn btn-primary" value="Update" />
    </form>
</div>
</div>
</body>
</html>