<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
    <style>
        h3, h4, h5 {
            color: #2a5278;
        }
        .col-md {
            padding: 0 30px;
            border-width: 2px;
            border-color: #6f98bf
        }
        .row {
            border-bottom-style: solid;
            border-width: 6px;
            border-color: #6f98bf;
            padding: 60px 0;
        }
        img {
            width: 100%;
            margin: 15px 0;
        }
        .form-group {
            margin: 0px;
        }
        .form-control, .login-label, textarea {
            width: 100%;
        }
    </style>
</head>
<body class="container" style="background-color: #d9edff">
<div class="row" style="padding: 0; border-style: hidden;">
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-sm navbar-light" style="float: right; background-color: #d5e3f0; margin-top: 15px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=#features>Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=#contact>Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-sm-5">
        <img th:src="@{images/MMLogo.png}" style="border-radius:20px; width: 90%; float: right; margin: 30px 0 0 0;"/>
    </div>
    <div class="col-sm-2" style="text-align: center;">
        <span style="background-color: #6f98bf; width: 6px; height: 300px; border-radius: 6px; display: inline-block;"></span>
    </div>
    <div class="col-sm-5">
        <h3 style="text-align: center; margin-top: 30px;">Welcome to Migraine Manager! We are here to assist you with tracking
            and managing your personalized triggers and symptoms so that you can take control of your migraines and your life.</h3>
    </div>
</div>
<div class="row" id="features">
    <div class="col-md" style="border-right-style: solid;">
        <h5>Weather information including temperature, humidity, and barometric pressure enables you to observe how weather
            might be affecting you.</h5>
        <img th:src="@{images/weather.png}"/>
    </div>
    <div class="col-md">
        <h5>The personalized trigger and symptom lists enable you to track the information that is most important to you.</h5>
        <img th:src="@{images/triggerList.png}"/>
    </div>
    <div class="col-md" style="border-left-style: solid;">
        <h5>Our intuitive charts allow you to easily track which triggers and symptoms occur most often, and display
            monthly information on your migraine episodes.</h5>
        <img th:src="@{images/migraineChart.png}"/>
    </div>
</div>
<div class="row justify-content-center" id="contact" style="border-bottom-style: hidden;">
    <div class="col-sm-6">
        <h4>Have any questions or comments? Please send us an email at MyMigraineManager@gmail.com or fill out the
            information below and we would be happy to assist you!</h4>
        <form method="post">
            <div class="form-group">
                <label class="login-label">Name:
                    <input class="form-control" th:field="${feedbackFormDTO.name}">
                </label>
            </div>
            <div class="form-group">
                <label class="login-label">Email Address:
                    <input class="form-control" th:field="${feedbackFormDTO.email}">
                </label>
            </div>
            <div class="form-group">
                <label class="login-label">Message:
                    <textarea style="height: 200px;" class="form-control" th:field="${feedbackFormDTO.message}"></textarea>
                </label>
            </div>
            <input style="float: right;" type="submit" class="btn btn-primary" value="Send" />
        </form>
    </div>
</div>
</body>
</html>