html {
height: 100%;
}

body {
  font-size: 16px;
  background-color: #b8d7f5;
  height: 100%;
}

.error {
  color: red;
}

.btn-small {
    padding: 0px 6px;
}

.buttons {
    float: right;
    display: inline;
}

#headerBanner {
    width: 100%;
    text-align: center;
    background-image: radial-gradient(circle, white 50%, #99ccff);
}

#headingPic {
    margin: 3px;
    height: 30%;
    width: 30%;
}

.login {
    margin: 20px;
    text-align: center;
}

.login-block {
    margin: 10px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.login-label {
    text-align: left;
}

.list-group {
    width: 400px;
    margin: 20px;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ .list-group-item {
  background: #60a8d6;
  box-shadow:inset 1px 1px 1px #78beeb;
  color:#fff;
}

.list-group-item {
  padding: 8px;
  background-color: #9eccde;
  margin: 0px;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hiddenList {
    padding: 0px;
    margin: 0px;
}

#hiddenList2 {
    padding: 0px;
    margin: 0px;
}

.rightDiv {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    height: 50%;
    float: right;
}

.leftDiv {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    float: left;
}

#greeting {
    font-color: #214352;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
}

#date {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

#Larrow, #Rarrow {
    display: inline;
    margin: 10px;
    vertical-align: middle;
}

#dateDiv {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.arrow {
    text-decoration: none;
    color: black;
}

.arrow:hover {
    color: #2b586b;
    text-decoration: none;
}

#startMigraineButton, #endMigraineButton, #cancelMigraineButton {
    display: inline-block;
    float: center;
    margin: 0 auto;
    width: 130px;
    margin-top: 6px;
}

#cancelMigraineButton {
    width: 140px;
}

.migraineButton {
    display: inline-block;
    float: center;
}

#centerDiv {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 15px;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
}

.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  margin-top: 10px;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #95b8bf;
  color: black;
}

#weather {
    width: auto;
    text-align: center;
    margin: 40px 20px;
    border-style: outset;
    border-radius: 8px;
    border-color: #9eccde;
    background-color: #a3d3e6;
}

