body {
  font-size: 16px;
  background-color: rgb(183, 239, 151, 0.3);
}
.error {
  color: red;
}

.btn-small {
    padding: 0px 6px;
}

.buttons {
    float: right;
    display: inline;
}

#headerBanner {
    width: 100%;
    text-align: center;
    background-image: radial-gradient(circle, white 50%, #99ccff);
}

#headingPic {
    margin: 3px;
    height: 30%;
    width: 30%;
}

.login {
    margin: 20px;
    text-align: center;
}

.login-block {
    margin: 10px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.login-label {
    text-align: left;
}